@use "../../global" as *;

.c-heading {
  text-align: center;
  span {
    padding-left: 22px;
    padding-right: 22px;
    font-family: $en-fontFamily;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.1em;
    position: relative;
    @include mq(tab) {
        padding-left: 28px;
        padding-right: 28px;
        font-size: 20px;
    }
    &::before,
    &::after {
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 16px;
        height: auto;
        aspect-ratio: 16/15;
        background: url(../img/icon_orange-flower.png) no-repeat center center / cover;
        @include mq(tab) {
            width: 22px;
        }
    }
    &:before {
      left: 0;

    }
    &::after {
      right: 0;
    }
    }
  

  h2 {
    font-size: 24px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.1em;
    margin-top: 4px;
    @include mq(tab) {
        font-size: 32px;
        margin-top: 8px;
    }
  }
  }

}