@use "../../global" as *;

/*=========================================================================
# 共通パーツ：下層ページへのリンク
========================================================================= */
.c-link {
  display: inline-block;
  border-bottom: 1px solid yellow;
  width: fit-content;
}